{% extends 'base.html.twig' %}

{% block body %}
    <h1>Codificacion</h1>

    <table>
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ codificacion.nombre }}</td>
            </tr>
            <tr>
                <th>Idcodificacion</th>
                <td>{{ codificacion.idCodificacion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('codificacion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('codificacion_edit', { 'idCodificacion': codificacion.idCodificacion }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
