{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ayudantesoperacions list</h1>

    <table>
        <thead>
            <tr>
                <th>Idayudantesoperacion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ayudantesOperacion in ayudantesOperacions %}
            <tr>
                <td><a href="{{ path('ayudantesoperacion_show', { 'idAyudantesOperacion': ayudantesOperacion.idAyudantesOperacion }) }}">{{ ayudantesOperacion.idAyudantesOperacion }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ayudantesoperacion_show', { 'idAyudantesOperacion': ayudantesOperacion.idAyudantesOperacion }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ayudantesoperacion_edit', { 'idAyudantesOperacion': ayudantesOperacion.idAyudantesOperacion }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ayudantesoperacion_new') }}">Create a new ayudantesOperacion</a>
        </li>
    </ul>
{% endblock %}
