{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reflejo</h1>

    <table>
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ reflejo.nombre }}</td>
            </tr>
            <tr>
                <th>Idreflejos</th>
                <td>{{ reflejo.idReflejos }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reflejos_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('reflejos_edit', { 'idReflejos': reflejo.idReflejos }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
